@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fontss/Poppins-Regular.ttf');
}

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --color-latar: #fdf2f8;
    --color-teks: #4b5563; 
    --color-teks-samping: #9ca3af;
    --color-garis: #f1f5f9;

    --color-hijau: #ec4899; /* pink */
    --color-merah: #f43f5e; 
    --color-biru: #a78bfa;
    --color-kuning: #fbbf24;
}

body {
    @apply font-barlow bg-latar;
}